* {
  font-family: Helvetica;
  text-align: center;
  // color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  background-image:url("../images/the-flatiron-building.png");
  color: white;
  background-position: right;
}

h5 {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}

.top {
  background-image:url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: right;

}

li {
  color:white;
  font-size: 18px;
  list-style: none;
}

a {
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}
